# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Django
db.sqlite3
*.log
*.pot
*.pyc

# Virtual Environment
venv/
env/

# IDE
.vscode/
.idea/

# Migrations (optional if you don’t want to push them)
*/migrations/__pycache__/
