{% extends 'attendance/base.html' %}
{% block content %}
<h3>Logs</h3>
<form class="row g-2 mb-3" method="get">
<div class="col-md-4"><input class="form-control" name="user" placeholder="Filter by username" value="{{ request.GET.user }}" /></div>
<div class="col-md-3"><input type="date" class="form-control" name="date" value="{{ request.GET.date }}" /></div>
<div class="col-md-2"><button class="btn btn-primary w-100">Filter</button></div>
</form>
<table class="table table-hover">
<thead><tr><th>User</th><th>Check In</th><th>Check Out</th></tr></thead>
<tbody>
{% for log in logs %}
<tr>
<td>{{ log.user.username }}</td>
<td>{{ log.check_in_time|date:'d M Y H:i' }}</td>
<td>{% if log.check_out_time %}{{ log.check_out_time|date:'d M Y H:i' }}{% else %}<span class="badge bg-warning">Open{% endif %}</span></td>
</tr>
{% empty %}
<tr><td colspan="3">No logs.</td></tr>
{% endfor %}
</tbody>
</table>
{% endblock %}